@import 'tailwindcss';

/* body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('../assets/Imagenes/Componentes/Fondo1.jpg');
    background-size: cover;
    background-position: center;
} */