@import 'tailwindcss';

/* globals.css o styles.css */

.text-gradient-custom {
  /* Define el degradado que quieres usar */
  background-image: linear-gradient(to bottom, rgb(105, 2, 2), red); /* Púrpura a Rosa */
  
  /* Hace que el fondo se recorte solo al texto */
  -webkit-background-clip: text;
  background-clip: text;
  
  /* Hace que el color del texto sea transparente para que se vea el fondo */
  -webkit-text-fill-color: transparent;
  color: transparent; /* Fallback */
}

.fuente_terror1 {
font-family: "Creepster", system-ui;
  font-weight: 400;
  font-style: normal;
}


