@import 'tailwindcss';

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('./assets/Imagenes/Componentes/Fondo2.jpg');
    /* background: #000818; */
    background-size: cover;
    background-position: center;
}